html {
    font-size: 16px;
    background-color: #F5F5F5;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

a {
    font-family: 'Proza Libre', sans-serif;
    color:black;
    font-size: 1rem;
}

ul {
    list-style-type: square;
}

li::marker {
    font-size: 2rem;
}

.header-text {
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.5rem;
}

.entry-text {
    font-family: 'Proza Libre', sans-serif;
    font-size: 1rem;
}

#date {
    padding: 0;
    margin: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 57rem;
    min-height: 100%;
    padding: 1.5rem;
    background-color: white;
}

.row {
    flex: 1;
    width: 100%
}

.navbar {
    display: flex;
    gap: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #DFDFDF;
}

.nav-button {
    flex: 1;
    max-width: 13rem;
    transition: transform 0.3s ease-in-out
}

.nav-button:hover {
    transform: scale(1.05);
}

#bookshelf-img {
    width: 100%;
}

.book-preview-img {
    max-width: 13rem;
    float: left;
    margin-bottom: 1rem;
}

.log-entry-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    gap: 1rem;
    border-bottom: 2px solid #DFDFDF;
}

.star-rating-container {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
}
.star {
    height: 1rem;
}

.form-wrapper {
    display: grid;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    padding-bottom: 1.5rem;
}

.newentry-button-row {
    display: grid;
    justify-items: space-between;
    grid-template-columns: 1fr 1.4fr 0.2fr 1.4fr 2fr;
}

.form-field {
    width: 100%;
    padding: 0.5rem 0.5rem;
    
}

.review-input {
    width: 100%;
    min-height: 10rem;
    max-width: 43rem;
    padding: 0.5rem 0.5rem;
    text-align: justify;
    white-space: pre-line;
}

.form-button {
    min-width: 7rem;
    padding: 0.5rem;
    margin-top: 1rem;
}
.label {
    display: grid;
    justify-items: start;
}

#sorting-options-wrapper {
    width: 100%;
    margin-bottom: 4rem;
}
#sorting-dropdown {
    width: 6.5rem;
    padding: 0.5rem 0.5rem;
    margin-left: 0.5rem;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }
}
